.firstdiv{
    background-color: green;
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */
    /* border-radius: 50px 20px; */
    border-radius: 50px 10px 20px 30px;
}
.p1{
    background-color: yellow;
    /* margin: 20px; */
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 40px;
}
p{
    /* padding: 50px; */
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 50px;
}
.a{
    margin-bottom: 20px;
}
.b{
    margin-top: 50px;
}
.box{
    background-color: blue;
    width: 200px;
    padding: 50px;
    box-sizing: content-box;
}
.xyz{
    background-color: yellow;
    height: 200px;
    width: 400px;
}
.abc{
    background-color: gray;
    height: 50%;
    width: 50%;
}

.xy{
    background-color: rgb(114, 237, 100);
    height: 100px;
    width: 100px;
}
.ab{
    background-color: gray;
    height: 10vh;
    width: 20vw;
}

.out{
    background-color: aqua;
    height: 150px;
    width: 100px;
    border: 2px solid black;
    outline: 2px dotted green;
}

.ahc{
    width: 500px;
    height: 25px;
    background-color: rgb(116, 173, 187);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}