p{
    color: blue;
    /* font-size: large; */
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    text-decoration:underline;
    text-decoration-style: dotted;
}
pre{
    color: rgb(234, 58, 87);
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 35px;
    
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

    /* Google font */
    font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;

  font-style: italic;
}

.aa{
    text-decoration: none;
}
.aa:hover{
    color: aqua;
    cursor:move;
    /*cursor : curpointer,crosshair,auto,move,wait. */
}
