/* .sub{
    height: 600px;
    width: 600px;
    background-color: aqua;
    border: 1px solid black;
    margin: 1px;
}

.main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */
