.first{
    width: 300px;
    height: 40px;
    background-color: rgb(243, 237, 221);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    .fd{
        margin-right: 50px;
        margin-left: 4px;
    }
    .sd{
        margin-right: 45px;
    }
    .td{
        margin-right: 25px;
    }
}
.bt1{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background-color: white;
    font-weight: 600;
    border: none;
}
.firstd{
    margin-top: 130px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.secd{
    /* background-color: aqua; */
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .d1{
        height: 30px;
        width: 70px;
        background-color: rgb(245, 234, 206);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    .d2{
        height: 30px;
        width: 70px;
        background-color: rgb(245, 234, 206);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    .d3{
        height: 30px;
        width: 60px;
        background-color: rgb(245, 234, 206);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 15px;
    }
    .d4{
        height: 30px;
        width: 110px;
        background-color: rgb(245, 234, 206);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
}
.div1{
    display: flex;
    height:350px;
    width: 1350px;
    justify-content: space-evenly;
}
.pic1{
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    align-items:center;
    height: 300px;
    width: 600px;
}
img{
        /* padding-top: 30px;
        padding-right: 10px; */
        height: 250px;
        width: 500px;
        border-radius:40px;
}
.pic2{
    padding-top: 20px;
    display: flex;
    height: 300px;
    width: 600px;
    border-radius: 20px;
 }
 
.div2{
    display: flex;
    height: 300px;
    width: 1350px;
    justify-content: space-evenly;
}
.pic3{
    padding-top: 20px;
    display: flex;
    height: 100px;
    width: 600px;
}
.pic4{
    padding-top: 20px;
    display: flex;
    height: 100px;
    width: 600px;
}
.div3{
    display: flex;
    height: 300px;
    width: 1350px;
    justify-content: space-evenly;
}
.pic5{
    padding-top: 20px;
    display: flex;
    height: 100px;
    width: 600px;
}
.pic6{
    padding-top: 20px;
    display: flex;
    height: 100px;
    width: 600px;
}